<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
<plugin name='gazebo_ros_base_laser_front_controller'
                          filename='libgazebo_ros_ray_sensor.so'>
              <ros>
                <namespace>/youbot</namespace>
                <argument>--ros-args --remap ~/out:=scan</argument>
              </ros>
              <output_type>sensor_msgs/LaserScan</output_type>
            </plugin>
</robot>